
 h1{
    color: #566a5e;
    text-align: center;
 }
 body {
  background-image: url('assets/d.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  font-family: 'Roboto', sans-serif;  

.students-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
   
  }
  
  .student-container {
    border: 1px solid #a18b54; 
    padding: 15px;
    
    border-radius: 55px;
    text-align: center;
    font-style: italic;
 
    
  }